{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="container-fluid messages" style="padding-top: 150px; padding-bottom: 600px">
        <div class="container  filter-dark p-5">
            <div class="col-md-7 mx-auto d-block text-white " >
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <h1 class="mb-5">Réinitialiser votre mot de passe </h1>

                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        Entrez votre adresse e-mail et nous vous enverrons un
                        lien pour réinitialiser votre mot de passe.
                    </small>
                </div>

                <button class="btn btn-primary">Envoyer l'email de réinitialisation</button>
                {{ form_end(requestForm) }}
            </div>
        </div>

    </div>
{% endblock %}