{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container-fluid messages" style="padding-top: 150px; padding-bottom: 600px">
        <div class="container  filter-dark p-5">
            <div class="col-md-7 mx-auto d-block text-white ">
                <h1>Réinitialiser votre mot de passe</h1>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Réinitialiser</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>

{% endblock %}
